.inname{
  margin-left: 30px;
}
p-button{
  margin-left: 800px;
}
.gender, .name, .nif, .email{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-left: 550px;
}
.ingender {
  margin-left:20px;
}
.innif{
  margin-left: 40px;
}
.inemail{
  margin-left: 27px;
}
.age, .address, .phone, .password{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin-left: 30px;
}
.inage{
  margin-left: 45px;
}
.inaddress{
  margin-left: 20px;
}
.inphone{
  margin-left: 35px;
}
.inpassword{
  margin-left: 15px;
}
