<p-menubar>
  <a style="padding-right: 950px" ><h1><u>ShopCenter - Admin</u></h1></a>
</p-menubar>
<p></p>
<p-button [ngStyle]="{'margin-left':'50px'}" routerLink="" icon="pi pi-angle-left"></p-button>
<p></p>

<p>
  <p-button class="buttonList1" label="List Of Users" routerLink="/listusers"></p-button>
</p>
  <p-button  class="buttonList2" label="List Of Products" routerLink="/listproducts"></p-button>
<p>
<p-button  class="buttonList3" label="List Of Purchase Products" routerLink="/listpurchaseproducts"></p-button>

